.vscode
.idea
.DS_Store
*.esm.json
*.js
*.js.map
*.log
*.aar
*.tsbuildinfo
src/*.d.ts
packages/**/*.d.ts
!src/index.d.ts
!src/references.d.ts
!src/scripts/*.js
!demos/**/*.js
demos/**/platforms
node_modules